.input{
    margin: 10pt;
    padding: 10pt;
}
 
.inputsBox{
    display: list-item;
} 


.article {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    width: 30%;
  }
  