<h2>Search whatever you want</h2>
<form (ngSubmit)="getNews()" class="inputsBox" #searchForm="ngForm">
  <span class="text">Theme: </span><input [(ngModel)]="searchTheme" name="theme" #spy type="text" class="input"
    placeholder="Insert theme here" required>
  <br>
  <span class="text">Begin Date: </span>
  <input type="date" [(ngModel)]="begin_date" name="begin_date" class="input" value="2018-09-06" min="2016-01-01" max="2018-09-10"
    required> <br>
  <span class="text">End Date: </span>
  <input type="date" [(ngModel)]="end_date" name="end_date" class="input" value="2016-09-10" min="2016-01-05" max="2018-09-10"
    required>
  <p [(ngModel)]="wrongDate" *ngIf="wrongDate" style="color:red">*End date must be greater than begin date </p>
  <p [(ngModel)]="emptyData" *ngIf="emptyData" style="color:red">*You must complete all fields</p> <br>

  <button type="submit" class="btn btn-success input" >Submit</button>
</form>
<p *ngIf="noNews">
  There are no news for this topic
</p>
<img *ngIf="isLoading" src="../../assets/Pacman.gif" alt="">
<div *ngIf="showList">
  <ul>
    <li class="article" *ngFor="let article of news">
      <h2>{{article.headline.main}}</h2>
      <h4>{{article.snippet}}</h4>
      <p *ngIf="article.web_url == '' "> Url not available</p>
      <a *ngIf="article.web_url != '' " href="{{article.web_url}}">{{article.web_url}}</a>
      <p *ngIf="article.isValidUrl" style="color:red"> *Not Valid URL</p>
    </li>
  </ul>
</div>