.input{
    margin: 10pt;
    padding: 10pt;
}
 
.inputsBox{
    display: list-item;
} 
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
  }

.error{
    color: #a94442;
}


  