<h2>Search whatever you want</h2>
<span class="inputsBox">
  <span class="text">Theme: </span><input id="theme" type="text" class="input" placeholder="Insert theme here"> <br>
  <span class="text">Begin Date: </span><input id="begin_date" type="text" class="input" placeholder="Insert begin date here"> <br>
  <span class="text">End Date: </span><input id="end_date" type="text" class="input" placeholder="Insert end date here"> <br>
  <button class="input" (click)="getNews()">Search now!</button>
</span>